

.items__container {
  padding: 2px;
}
.items__container--incomplete{
    background-color: #747d8c;
}
.items__header {
  text-align: center;
  color: #c8d6e5;
}
.items__container--complete{
    background-color:#576574;
    padding:2px;
}